#{{ ansible_managed }}

global
  user haproxy
  group haproxy
  chroot /var/lib/haproxy
	maxconn 2000
  log /dev/log local0
	stats socket /run/haproxy/admin.sock user haproxy group haproxy mode 660 level admin

defaults
  mode http
  log global
  retries 2
	option httplog
  option httplog
  option dontlognull
  timeout connect 3000ms
  timeout server 5000ms
  timeout client 5000ms

listen stats
	bind *:{{ stats.port }}
	mode http
	maxconn 10
	stats enable
	# stats hide-version
	stats refresh 30s
	stats show-node
  stats admin if TRUE
	stats auth {{ stats.username }}:{{ stats.password }}
	stats uri /haproxy?stats

frontend front_masters
  bind *:6443
  mode tcp
  option tcplog
  default_backend back_masters

backend back_masters
  mode tcp
  balance roundrobin
  option tcp-check
  {% for server in groups.masters %}
  server {{ server }} {{ hostvars[server].ansible_default_ipv4.address }}:6443 check fall 3 rise 2
  {% endfor %}
